:root {
  --cor-azul: #3B82F6;
  --cor-laranja: #F56B00;
  --cinza-claro: #F4F4F5;
  --cinza-escuro: #1F2937;
  --cinza-texto: #6B7280;
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}



header{
  width: 100%;
  background-color: var(--cor-azul);
  color: var(--cinza-escuro);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
}

body {
  background-color: #f2f2f2; /* cinza claro */
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}


nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

nav img {
  width: 9rem;
}

.menu-mobile {
  flex-direction: column;
  color: white;
  cursor: pointer;
  display: none;
}

#search-input {
  padding: 12px;
  border: none;
  border-radius: 8px;
  width: 30rem;
}

.btn-search {
  background-color: var(--cor-laranja);
  color: white;
  border: none;
  padding: 0.8rem 0.9rem;
  border-radius: 8px;
  cursor: pointer;
}



.profile-link, .cart-lin {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 4px 10px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.profile-link {
  color: white;
  border: 2px solid white;
}

.profile-link i {
  color: white;
  font-size: 1.5rem;
  padding: 0.2rem;
}

.cart-link {
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  border: 2px solid orange;
  border-radius: 8px;
  padding: 0.2rem;
}

.cart-link i {
  font-size: 30px;
   color: orange;
}

.cart-link:hover {
  background-color: orange;
  color: white;
}

.cart-link:hover i {
  color: white;
}

.botoes-header {
  display: flex;
  align-items: center;
  gap: 1rem; /* diminua esse valor para aproximar mais */
}



@media (max-width: 768px) {
  .search-container {
    display: none;
  }
  .botoes-header {
    display: none;
  }

  .menu-mobile {
    display: flex;
    gap: 0.5rem;
    transition: 0.4s ease-in-out;
  }

  .menu-mobile span:first-child{
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
  }

  .menu-mobile span:nth-child(2){
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;

  }

  .menu-mobile span:nth-child(3){
    display: block;
    width: 30px;
    height: 3px;
    background-color: white;
  }

  .menu-mobile.ativo span:first-child{
    transform: rotate(45deg) translate(9px, 5px);
    background-color: var(--cor-laranja);
  }

  .menu-mobile.ativo span:nth-child(2){
    opacity: 0;

  }

  .menu-mobile.ativo span:nth-child(3){
    transform: rotate(-45deg) translate(10px, -7px);
    background-color: var(--cor-laranja);
  }

}